//- views/screensaver.pug
extends layout

block pageTitle
  | Willkommen bei Kafi AG

block content
  .screensaver(onclick="window.location='/'")
    .logo ☕
    h2 Willkommen
    p Tippen zum Fortfahren

